@import "~normalize.css/normalize.css";
@import "layout/header";
@import "layout/footer";
@import "layout/content";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "components/fonts";
@import "components/typography";
@import "components/buttons";
@import "components/forms";
@import "components/images";
@import "layout/content";
@import "pages/error-page";
@import "helpers/utilities";

html {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: $color-primary;
  overflow-x: hidden;
}
