{% extends '../layouts/_error.twig' %}

{% set page = '404' %}

{% block title %}404{% endblock %}

{% block content %}
  <section>
    <h1 class="title title_error">404</h1>
    
    <h3 class="h3 error__subtitle"><span class="h2 error__subtitle_larger">Oops!</span> we are sorry, but the page you requested was not found.</h3>
    
    <a class="button" href="/index.html"><span></span> Go home</a>
    
    <ul class="d-flex">
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </section>
{% endblock %}