{% extends '../layouts/_error.twig' %}

{% set page = '404' %}

{% block title %}404{% endblock %}

{% block content %}
  <section class="error-block">
    <div class="error-block__body">
      <h1 class="error-block__title">404</h1>

      <h2 class="error-block__subtitle"><span class="error-block__subtitle_larger">Oops!</span> we are sorry, but the page you requested was not found.</h2>
    </div>
      
    <footer class="error-block__footer">
      <a class="button button_arrow error-block__footer-button" href="/index.html">
        <span class="material-symbols-outlined icon-arrow icon-arrow_left-button">trending_flat</span>&nbsp; Go home
      </a>
      
      <ul class="social-links social-links_black">
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
      </ul>
    </footer>
  </section>
{% endblock %}