{% extends '../layouts/_error.twig' %}

{% set page = '404' %}

{% block title %}404{% endblock %}

{% block content %}
  <section>
    <h1 class="title title_error">404</h1>
    
    <h3 class="h3 error__subtitle mb-2"><span class="h2 error__subtitle_larger">Oops!</span> we are sorry, but the page you requested was not found.</h3>
    
    <div class="d-flex flex-justify-center mb-1">
      <a class="button" href="/index.html"><span></span> Go home</a>
    </div>

    <div class="d-flex flex-justify-center">
      <ul class="social-links social-links_black d-flex">
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
      </ul>
    </div>
  </section>
{% endblock %}