{% extends '../layouts/_base.twig' %}

{% set page = 'About' %}

{% block title %}About{% endblock %}

{% block content %}
  <section class="about">
    <div class="about__column about__column_header">
      <h1 class="h2 about__title">About</h1>
      
      <p class="h3 about__subtitle">
        I’m Manifest<br>
        Full-time UI/UX designer<br>
        Head of Design at VeronaLabs.com
      </p>
      
      <picture>
        <source 
          media="(max-width: 1023px)" 
          srcset="img/about/img-about.webp"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 1024px)"
          srcset="img/about/img-about@2x.webp"
          type="image/webp"
        />
        
        <source
          media="(min-width: 1024px)"
          srcset="img/about/img-about@2x.png"
        />

        <img 
          src="img/about/img-about.png"
          width="225" 
          height="235" 
          alt=""
        />
      </picture>
    </div>
    
    <div class="about__column about__column_body">
      <p class="p4 about__text">
        I was born in January 1990. After getting my Degree in computer science in 2002, I persuaded my higher study in Human Computer Interaction Design. I got my first job as Graphic Designer in the year 2008. After getting experience in graphic designing for a year, I moved to UI-UX Designing.
        <br><br>
        In 2010, I decided to work as a Freelance Web, UI-UX &amp; Mobile Interface Designer. I find myself still in the learning phase and have strong desire to achieve as many skills as I can.
      </p>
      
      <div>
        <a class="button button_arrow" href="#">Resume &nbsp;<span class="material-symbols-outlined icon-arrow icon-arrow_right-button">trending_flat</span></a>
      </div>
    </div>
  </section>
{% endblock %}