{% extends '../layouts/_base.twig' %}

{% set page = 'About' %}

{% block title %}About{% endblock %}

{% block content %}
  <section class="d-flex">
    <div>
      <h1 class="title h2">About</h1>
      
      <p></p>
      
      <picture>
          
      </picture>
    </div>
    
    <div>
      <p></p>
      
      <a class="button" href="#"></a>
    </div>
  </section>
{% endblock %}