{% extends '../layouts/_base.twig' %}

{% set page = 'Blog' %}

{% block title %}Blog{% endblock %}

{% block content %}
  <section>
    <h1 class="title h2">Blog</h1>
    
    <div class="d-flex">
      <picture>
          
      </picture>
      
    </div>
  </section>
  
  <section>
    <form action="">
      
    </form>
    
    <div class="d-flex">
      <div>
        <picture>
          
        </picture>
        
      </div>
      
      <div>
        <picture>
          
        </picture>
        
      </div>
    </div>
    
    <div class="d-flex">
      <div>
        <picture>
          
        </picture>
        
      </div>
      
      <div>
        <picture>
          
        </picture>
        
      </div>
    </div>
    
    <a class="button" href="#"></a>
  </section>
{% endblock %}