{% extends '../layouts/_base.twig' %}

{% set page = 'Case Study' %}

{% block title %}Case Study{% endblock %}

{% block content %}
  <section class="project-hero">
    <div class="project-hero__header">
      <p class="project-hero__subtitle">Case Study</p>

      <h1 class="project-hero__title h2 h2_hero">AI Fashion Platform</h1>

      <picture>
        <source 
          media="(max-width: 435px)" 
          srcset="img/case-study/img-casestudy-01.webp"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-01-w@1-5x.webp"
          width="804"
          height="338"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-01-w@1-5x.png"
          width="804"
          height="338"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-01-w.webp"
          width="404"
          height="170"
          type="image/webp"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-01-w.png"
          width="404"
          height="170"
        />

        <img
          class="project-hero__image image"
          src="img/case-study/img-casestudy-01.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
    </div>
      
    <div class="project-hero__meta">
      <div class="project-hero__overview">
        <h2 class="project-hero__overview-title h3">Project Overview</h2>
        
        <p class="project-hero__overview-description">
          FashHanger is a bespoke sustainable high-fashion accessory company based out of Berlin, currently operated by Siesly and her sister Ashely. They needed help for a big rebrand and wanted to relaunch their website.
          <br><br>
          Their goals were simple, create a unique e-commerce store that bring a wonderful shopping experience at every stage of the buyer’s journey.
        </p>
      </div>
      
      <div class="project-hero__properties-column">
        <div class="project-hero__properties-container">
          <div class="project-hero__property">
            <p class="project-hero__property-name h3">Year</p>
            <p class="project-hero__property-value">2019</p>
          </div>

          <div class="project-hero__property">
            <p class="project-hero__property-name h3">Platform</p>
            <p class="project-hero__property-value">Shopify, Webflow</p>
          </div>

          <div class="project-hero__property">
            <p class="project-hero__property-name h3">Role</p>
            <p class="project-hero__property-value">Research, Design</p>
          </div>

          <div class="project-hero__property">
            <p class="project-hero__property-name h3">Deliverables</p>
            <p class="project-hero__property-value">www.fashhanger.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="project-features">
    <div class="project-feature">
      <h2 class="project-feature__title h3">User Research and Personas</h2>
      
      <picture>
        <source 
          media="(max-width: 435px)" 
          srcset="img/case-study/img-casestudy-02.webp"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-02-w@1-5x.webp"
          width="804"
          height="338"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-02-w@1-5x.png"
          width="804"
          height="338"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-02-w.webp"
          width="404"
          height="170"
          type="image/webp"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-02-w.png"
          width="404"
          height="170"
        />

        <img
          class="project-feature__image image" 
          src="img/case-study/img-casestudy-02.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
      
      <p class="project-feature__description">
        Who is your user? Indicate her KEY personality traits and help round out her overall image.
        <br><br>
        Originally, the personality section of this persona was based off the Myers Briggs personality test. According to the Myers Briggs, there are 16 potential user personality types. Our template integrates questions from this online personality test example into a series of sliding bar graphics. If you’re confused as to what the sliders mean, check out the Myers Briggs basics article.           
      </p>
    </div>
    
    <div class="project-feature">
      <h2 class="project-feature__title h3">Initial Sketches</h2>
      
      <picture>
        <source 
          media="(max-width: 435px)" 
          srcset="img/case-study/img-casestudy-03.webp"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-03-w@1-5x.webp"
          width="804"
          height="338"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-03-w@1-5x.png"
          width="804"
          height="338"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-03-w.webp"
          width="404"
          height="170"
          type="image/webp"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-03-w.png"
          width="404"
          height="170"
        />

        <img
          class="project-feature__image image" 
          src="img/case-study/img-casestudy-03.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
      
      <p class="project-feature__description">
        In the beginning, It’s just about brainstorming.
        <br><br>
        I list out a jumble of words and draw tiny sketches related to what I’m working on (and find the parallels later). Personally, I prefer paper with a grid so I can convey things responsively. Most of the time perfection isn’t an issue and the sketches are just for me.
      </p>
    </div>
    
    <div class="project-feature">
      <h2 class="project-feature__title h3">Final Design</h2>
      
      <picture>
        <source 
          media="(max-width: 435px)" 
          srcset="img/case-study/img-casestudy-04.webp"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-04-w@1-5x.webp"
          width="804"
          height="338"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/case-study/img-casestudy-04-w@1-5x.png"
          width="804"
          height="338"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-04-w.webp"
          width="404"
          height="170"
          type="image/webp"
        />

        <source
          media="(min-width: 436px)"
          srcset="img/case-study/img-casestudy-04-w.png"
          width="404"
          height="170"
        />

        <img
          class="project-feature__image image" 
          src="img/case-study/img-casestudy-04.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
      
      <p class="project-feature__description">
        I played with adding a wireframe of the website flow that would lead you in to each screen. For each of those screens I added a floating footer that allows users to see where they are in that particular flow and jump around as needed.” We’re digging this InVision-made wireframe.
      </p>
    </div>
  </section>
{% endblock %}