{% extends '../layouts/_base.twig' %}

{% set page = 'Contact' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <section>
    <div class="d-flex">
      <h1 class="title h2">Contact Us</h1>
      
      <p>
        
      </p>
    </div>
     
    <div class="d-flex">
      <div>
        
      </div>
      
      <form action="">
        
      </form>
    </div>
  </section>
{% endblock %}