{% extends "../layouts/_base.twig" %}

{% set page = 'Home' %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
  <h1 class="title h1">Manifest is a newborn theme. Clean, simple and fast.</h1>
{% endblock %}
