{% extends "../layouts/_base.twig" %}

{% set page = 'Home' %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
  <section class="home-promoted">
    <h1 class="home-promoted__title h2 h2_hero">Manifest is a newborn theme. <br>Clean, simple and fast.</h1>
    
    <div class="home-promoted__carousel carousel">
      <div class="carousel__item">
        <picture>
          <source 
            media="(max-width: 1023px)" 
            srcset="img/home/img-home-01-m.webp"
            type="image/webp"
          /> 
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-01.webp"
            width="544"
            height="544"
            type="image/webp"
          />
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-01.png"
            width="544"
            height="544"
          />

          <img
            class="carousel__image" 
            src="img/home/img-home-01-m.png" 
            width="258"
            height="258"
            alt=""
          />
        </picture>
        
        <p class="carousel__caption">
          Mixkit Inspo
        </p>
      </div>
      
      <div class="carousel__item">
        <picture>
          <source 
            media="(max-width: 1023px)" 
            srcset="img/home/img-home-02-m.webp"
            type="image/webp"
          /> 
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-02.webp"
            width="544"
            height="544"
            type="image/webp"
          />
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-02.png"
            width="544"
            height="544"
          />

          <img
            class="carousel__image" 
            src="img/home/img-home-02-m.png"
            width="258"
            height="258"
            alt=""
          />
        </picture>
        
        <p class="carousel__caption">
          Abalone
        </p>
      </div>
      
      <div class="carousel__item carousel__item_first-mobile">
        <picture>
          <source 
            media="(max-width: 1023px)" 
            srcset="img/home/img-home-03-m.webp"
            type="image/webp"
          /> 
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-03.webp"
            width="544"
            height="544"
            type="image/webp"
          />
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-03.png"
            width="544"
            height="544"
          />

          <img
            class="carousel__image" 
            src="img/home/img-home-03-m.png"
            width="258"
            height="258"
            alt=""
          />
        </picture>
        
        <p class="carousel__caption">
          Placeholdery
        </p>
      </div>
      
      <div class="carousel__item carousel__item_last">
        <picture>
          <source 
            media="(max-width: 1023px)" 
            srcset="img/home/img-home-04-m.webp"
            type="image/webp"
          /> 
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-04.webp"
            width="544"
            height="544"
            type="image/webp"
          />
          
          <source
            media="(min-width: 1024px)"
            srcset="img/home/img-home-04.png"
            width="544"
            height="544"
          />

          <img
            class="carousel__image" 
            src="img/home/img-home-04-m.png"
            width="258"
            height="258"
            alt=""
          />
        </picture>
        
        <p class="carousel__caption">
          Dreamy
        </p>
      </div>
    </div>
      
    <div class="home-promoted__description">
      <div class="home-promoted__description-header">
        <h2 class="home-promoted__description-title h4 h4_h3-desktop">
          Full-time UI/UX designer <br><br class="home-promoted__break">Head of Design at VeronaLabs.com
        </h2>
        
        <a class="link_hoverable" href="#"><span class="text-hover">Read More </span><span class="material-symbols-outlined icon-arrow">trending_flat</span></a>
      </div>
        
      <div class="home-promoted__description-info">
        <p class="p5 p5_p4-desktop">
          We work with clients around the world from our headquarters in Charleston, South Carolina.
          <br>
          <br>
          We focus on naming, branding, brand narratives, website design and development, and brand experiences.
        </p>
      </div>
    </div>
  </section>
  
  <section class="home-posts">
    <div class="home-posts__header">
      <h2 class="home-posts__title h3">Latest Posts</h2>
      
      <a class="home-posts__view-all" href="#">View All <span class="material-symbols-outlined icon-arrow">trending_flat</span></a>
    </div>
    
    <div class="home-posts__previews">
      <div class="post-preview">
        <picture>
          <source 
            media="(max-width: 435px)" 
            srcset="img/home/img-home-05.webp"
            type="image/webp"
          /> 

          <source 
            media="(min-width: 900px)" 
            srcset="img/home/img-home-05-d.webp"
            type="image/webp"
          />

          <source 
            media="(min-width: 900px)" 
            srcset="img/home/img-home-05-d.png"
          />

          <source 
            media="(min-width: 436px)" 
            srcset="img/home/img-home-05@2x.webp"
            type="image/webp"
          />

          <source 
            media="(min-width: 436px)" 
            srcset="img/home/img-home-05@2x.png"
          />

          <img 
            class="post-preview__image image" 
            src="img/home/img-home-05.png"
            width="288"
            height="211"
            alt=""
          />
        </picture>
          
        <div class="post-preview__text">
          <div class="post-preview__caption">
            <p class="post-preview__category">Interface Design</p>
            <p class="post-preview__date">8 June, 2020</p>
          </div>

          <h3 class="post-preview__title h3">UX traffic light colours</h3>

          <p class="post-preview__description">UI has to make a huge visual difference between warning, an alert and a success.</p>
        </div>
      </div>
      
      <div class="post-preview">
        <picture>
          <source 
            media="(max-width: 435px)" 
            srcset="img/home/img-home-06.webp"
            type="image/webp"
          /> 

          <source 
            media="(min-width: 900px)" 
            srcset="img/home/img-home-06-d.webp"
            type="image/webp"
          />

          <source 
            media="(min-width: 900px)" 
            srcset="img/home/img-home-06-d.png"
          />

          <source 
            media="(min-width: 436px)" 
            srcset="img/home/img-home-06@2x.webp"
            type="image/webp"
          />

          <source 
            media="(min-width: 436px)" 
            srcset="img/home/img-home-06@2x.png"
          />

          <img 
            class="post-preview__image image" 
            src="img/home/img-home-06.png" 
            width="288"
            height="211"
            alt=""
          />
        </picture>
        
        <div class="post-preview__text">
          <div class="post-preview__caption">
            <p class="post-preview__category">Technology</p>
            <p class="post-preview__date">6 May, 2020</p>
          </div>

          <h3 class="post-preview__title h3">Using UX Design to Build a Sustainable Future</h3>

          <p class="post-preview__description">Transformation has to be driven by everybody, not just by climate groups.</p>
        </div>
      </div>
      
      <div class="post-preview">
        <picture>
          <source 
            media="(max-width: 435px)" 
            srcset="img/home/img-home-07.webp"
            type="image/webp"
          /> 

          <source 
            media="(min-width: 900px)" 
            srcset="img/home/img-home-07-d.webp"
            type="image/webp"
          />

          <source 
            media="(min-width: 900px)" 
            srcset="img/home/img-home-07-d.png"
          />

          <source 
            media="(min-width: 436px)" 
            srcset="img/home/img-home-07@2x.webp"
            type="image/webp"
          />

          <source 
            media="(min-width: 436px)" 
            srcset="img/home/img-home-07@2x.png"
          />

          <img 
            class="post-preview__image image" 
            src="img/home/img-home-07.png" 
            width="288"
            height="211"
            alt=""
          />
        </picture>
        
        <div class="post-preview__text">
          <div class="post-preview__caption">
            <p class="post-preview__category">Visual Design</p>
            <p class="post-preview__date">8 June, 2020</p>
          </div>

          <h3 class="post-preview__title h3">Creativity vs. UX</h3>

          <p class="post-preview__description">Is it possible to create a delightful user experience without following best UX practices?</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
