{% extends '../layouts/_base.twig' %}

{% set page = 'Single Blog' %}

{% block title %}Single Blog{% endblock %}

{% block content %}
  <section class="hero mb-block-primary_static">
    <p class="h6 color-grey-5">Technology, Visual Design</p>
    
    <h1 class="title h2">Using UX Design to Build a Sustainable Future</h1>
    
    <div class="d-flex flex-wrap mb-block-primary_static">
      <span class="h6 color-grey-5 mr-2">6 May, 2020</span>
      
      <span class="h6 color-grey-5 mr-2"><i class="fa-regular fa-message"></i> 8 comments</span>
    </div>

    <picture>
      <source 
        media="(max-width: 435px)" 
        srcset="img/blog/blog-single/img-blogsingle-01.webp"
        type="image/webp"
      /> 

      <source
        media="(min-width: 900px)"
        srcset="img/blog/blog-single/img-blogsingle-01@3x.webp"
        type="image/webp"
      />

      <source
        media="(min-width: 900px)"
        srcset="img/blog/blog-single/img-blogsingle-01@3x.png"
      />
      
      <source
        media="(min-width: 436px)"
        srcset="img/blog/blog-single/img-blogsingle-01@2x.webp"
        type="image/webp"
      />

      <source
        media="(min-width: 436px)"
        srcset="img/blog/blog-single/img-blogsingle-01@2x.png"
      />

      <img 
        class="mw-100" 
        src="img/blog/blog-single/img-blogsingle-01.png" 
        alt=""
      />
    </picture>
  </section>
  
  <div class="wrapper wrapper_article">
    <article class="mb-section-secondary position-relative">
      <div class="d-flex flex-align-items-center mb-block-primary_static">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="img/blog/blog-single/img-blogsingle-02@2x.png"
          />

          <img 
            class="mr-05"
            src="img/blog/blog-single/img-blogsingle-02.png"
            width="70" 
            height="70" 
            alt=""
          />
        </picture>

        <span class="h6">Monica Geller</span>
      </div>

      <ul class="social-links social-links_left d-flex color-grey-5">
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>         
        <li class="social-links__item"><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
      </ul>

      <p class="p4 mb-2 color-primary">
        Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this. Overwhelming evidence points to the fact that we have about a decade to combat climate change caused by human activity before irreversible damage is caused. It is the biggest crisis of our generation.
        <br>
        <br>
        What Can UX Designers Do?
        <br>
        <br>
        Firstly, on a broader scale, influence is held by people who work in tech, economically, socially and politically. People follow and listen to what happens in the world of tech. We need to take advantage of this to highlight important issues and create awareness around the environmental impact of tech.
      </p>

      <blockquote class="p4 blockquote color-primary mb-2">
        “UX designers are in a unique position to create tools with sustainability at their heart by streamlining user workflows, minimizing information overload, and removing potential distractions that keep users from accomplishing tasks they set out to do.”
        <br>
        <br>
        <span class="color-grey-5">‘Designing For Sustainability, Tim Frick, 2014'</span>
      </blockquote>

      <p class="p4 mb-2 color-primary">
        Most of the Internet is unsustainable, so there is an opportunity to make a very real and lasting impact through our work. The following are some ideas for ways in which UX designers can play their part in managing this global crisis.
      </p>

      <ul class="ul_dotted p4 color-primary mb-block-secondary">
        <li class="mb-2">Ask if the product is solving a real-world problem?</li>
        <li class="mb-2">Use content strategy to offer choices to customers choices.</li>
        <li class="">When considering fonts, stick to two font types and reduce the typeface.</li>
      </ul>

      <div class="tags d-flex">
        <span class="h6 mr-1">
          Tags:
        </span>

        <span class="h6 color-grey-5">
          <a class="color-grey-5" href="#">Technology</a>, 
          <a class="color-grey-5" href="#">Interface Design</a>, 
          <a class="color-grey-5" href="#">Visual Design</a>
        </span>
      </div>
    </article>

    <section>
      <header class="mb-block-secondary">
        <h3 class="h3">Leave a Reply</h3>
        <p class="h6 color-grey-5">Required fields are marked *</p>
      </header>
      
      <form class="mb-section-secondary" action="">
        <div class="d-flex flex-column flex-column_touch flex-justify-between flex-wrap">
          <div class="d-flex flex-column w-13-5 mb-block-primary_static">
            <label class="h5 color-grey-5" for="fname">Name*</label>
            <input class="h9" type="text" id="fname" name="fname"  placeholder="Walter Moss">
          </div>

          <div class="d-flex flex-column w-13-5 mb-block-primary_static">
            <label class="h5 color-grey-5" for="femail">Email*</label>
            <input class="h9" type="email" id="femail" name="femail"  placeholder="Info@manifest.com">
          </div>
        
          <div class="d-flex flex-column w-13-5 mb-block-primary_static">
            <label class="h5 color-grey-5" for="furl">Website</label>
            <input class="h9" type="url" id="furl" name="furl"  placeholder="www.manifest.com">
          </div>
        </div>
        
        <div class="d-flex mb-2">
          <input class="mr-05" type="checkbox" id="remember-me" name="remember-me">
          
          <label class="h9 color-grey-5" for="remember-me">Save my name, email, and website in this browser for the next time I comment</label>
        </div>
                
        <div class="d-flex flex-column mb-2">
          <label class="h5 color-grey-5" for="fcomment">Comment*</label>
          <input class="h9" type="text" id="fcomment" name="fcomment"  placeholder="Hi there ...">
        </div>
        
        <div>
          <a class="button d-inline-flex flex-align-items-center" href="#">Post</a>
        </div>
      </form>

      <div class="comments">
        <h3 class="comments__header h3 mb-1-5">Comments</h3>
        
        <div class="comments__body">
          <div class="post d-flex">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="img/blog/blog-single/img-blogsingle-03@2x.png"
              />

              <img 
                class="flex-align-self-start mr-1-5"
                src="img/blog/blog-single/img-blogsingle-03.png"
                width="70" 
                height="70" 
                alt=""
              />
            </picture>
            
            <div class="post__message">
              <div class="d-flex flex-wrap">
                <h4 class="h4 mr-1-5">Scarlet withch</h4>

                <p class="p9">6 May, 2020</p>
              </div>
                
              <p class="p4 mb-1">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
              </p>
              
              <a class="h6 post__reply color-grey-5" href="#"><i class="fa-solid fa-reply"></i> Reply</a>
              
              <div class="post post_level-2 d-flex">
                <picture>
                  <source
                    media="(min-width: 1024px)"
                    srcset="img/blog/blog-single/img-blogsingle-04@2x.png"
                  />

                  <img 
                    class="flex-align-self-start mr-1-5"
                    src="img/blog/blog-single/img-blogsingle-04.png"
                    width="70" 
                    height="70" 
                    alt=""
                  />
                </picture>
                
                <div class="post__message">
                  <div class="d-flex flex-wrap">
                    <h4 class="h4 mr-1-5">Kate Moss</h4>

                    <p class="p9">6 May, 2020</p>
                  </div>

                  <p class="p4 mb-1">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                  </p>
                  
                  <a class="h6 post__reply color-grey-5" href="#"><i class="fa-solid fa-reply"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="post d-flex">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="img/blog/blog-single/img-blogsingle-03@2x.png"
              />

              <img 
                class="flex-align-self-start mr-1-5"
                src="img/blog/blog-single/img-blogsingle-03.png"
                width="70" 
                height="70" 
                alt=""
              />
            </picture>
           
            <div class="post__message">
              <div class="d-flex flex-wrap">
                <h4 class="h4 mr-1-5">Scarlet withch</h4>

                <p class="p9">6 May, 2020</p>
              </div>

              <p class="p4 mb-1">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
              </p>
              
              <a class="h6 post__reply color-grey-5" href="#"><i class="fa-solid fa-reply"></i> Reply</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}