{% extends '../layouts/_base.twig' %}

{% set page = 'Single Blog' %}

{% block title %}Single Blog{% endblock %}

{% block content %}
  <section>
    <h1 class="title h2">Using UX Design to Build a Sustainable Future</h1>
    
    <picture>
          
    </picture>
  </section>
  
  <article>
    
  </article>
  
  <section>
    <form action="">
      
    </form>
    
    <div class="comments">
      
    </div>
  </section>
{% endblock %}