{% extends '../layouts/_base.twig' %}

{% set page = 'Works' %}

{% block title %}Works{% endblock %}

{% block content %}
  <section>
    <div class="d-flex flex-justify-between flex-column flex-column_touch mb-section-primary">
      <h1 class="title h2 w-48-desktop">Works</h1>
      
      <p class="p4 w-48-desktop">
        Hello! I’m Manifest – a Freelance UI/UX Designer from Berlin, Germany.
      </p>
    </div>
    
    <div class="d-flex flex-justify-between flex-column_reverse flex-column_touch mb-section-primary">
      <div class="w-48-desktop">
        <h3 class="h3 h3_bottom-line">Car Sharing App</h3>
        
        <p class="h6">Product Design</p>
        
        <p class="h6">2020</p>
        
        <div>
          <a class="button d-inline-flex h56 flex-align-items-center" href="#">View More <span class="material-symbols-outlined icon_arrow-right icon_arrow-right_button">trending_flat</span></a>
        </div>
      </div>
      
      <picture class="w-48-desktop">
        <source
          media="(min-width: 1024px)"
          srcset="img/works/img-works-01.png"
          type="image/webp"
        />

        <img class=" " src="img/works/img-works-01-m.png" alt="">
      </picture>
    </div>
    
    <div class="d-flex flex-justify-between flex-column_reverse flex-column_touch mb-section-primary">
      <div class="w-48-desktop">
        <h3 class="h3 h3_bottom-line">AI Fashion Platform</h3>
        
        <p class="h6">User Centered Website Redesign</p>
        
        <p class="h6">2019</p>
        
        <div>
          <a class="button d-inline-flex h56 flex-align-items-center" href="#">View More <span class="material-symbols-outlined icon_arrow-right icon_arrow-right_button">trending_flat</span></a>
        </div>
      </div>
      
      <picture class="w-48-desktop">
        <source
          media="(min-width: 1024px)"
          srcset="img/works/img-works-02.png"
          type="image/webp"
        />

        <img class=" " src="img/works/img-works-02-m.png" alt="">
      </picture>
    </div>
    
    <div class="d-flex flex-justify-between flex-column_reverse flex-column_touch mb-section-primary">
      <div class="w-48-desktop">
        <h3 class="h3 h3_bottom-line">Redesigning DropBox</h3>
        
        <p class="h6">Product Design</p>
        
        <p class="h6">2018</p>
        
        <div>
          <a class="button d-inline-flex h56 flex-align-items-center" href="#">View More <span class="material-symbols-outlined icon_arrow-right icon_arrow-right_button">trending_flat</span></a>
        </div>
      </div>
      
      <picture class="w-48-desktop">
        <source
          media="(min-width: 1024px)"
          srcset="img/works/img-works-03.png"
          type="image/webp"
        />

        <img class=" " src="img/works/img-works-03-m.png" alt="">
      </picture>
    </div>
  </section>
{% endblock %}