{% extends '../layouts/_base.twig' %}

{% set page = 'Works' %}

{% block title %}Works{% endblock %}

{% block content %}
  <section>
    <div class="d-flex">
      <h1 class="title h2">Works</h1>
      
      <p>
        
      </p>
    </div>
    
    <div class="d-flex flex-reverse-">
      <div>
        
      </div>
      
      <picture>
          
      </picture>
    </div>
    
    <div class="d-flex flex-reverse-">
      <div>
        
      </div>
      
      <picture>
          
      </picture>
    </div>
    
    <div class="d-flex flex-reverse-">
      <div>
        
      </div>
      
      <picture>
          
      </picture>
    </div>
  </section>
{% endblock %}