{% extends '../layouts/_base.twig' %}

{% set page = 'Works' %}

{% block title %}Works{% endblock %}

{% block content %}
  <section class="works">
    <div class="works__header">
      <h1 class="works__title h2">Works</h1>
      
      <p class="works__description p4">
        Hello! I’m Manifest – a Freelance UI/UX Designer from Berlin, Germany.
      </p>
    </div>
    
    <div class="works__project project-preview">
      <div class="project-preview__info">
        <h2 class="project-preview__title h3">Car Sharing App</h2>
        
        <p class="project-preview__category">Product Design</p>
        
        <p class="project-preview__year">2020</p>
        
        <div>
          <a class="button button_arrow" href="#">View More &nbsp;<span class="material-symbols-outlined icon-arrow icon-arrow_right-button">trending_flat</span></a>
        </div>
      </div>
      
      <picture class="project-preview__image">
        <source 
          media="(max-width: 435px)" 
          srcset="img/works/img-works-01.webp"
          type="image/webp"
        />
        
        <source
          media="(min-width: 436px)"
          srcset="img/works/img-works-01@1-5x.png"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 436px)"
          srcset="img/works/img-works-01@1-5x.png"
        /> 

        <source
          media="(min-width: 900px)"
          srcset="img/works/img-works-01@2x.webp"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/works/img-works-01@2x.png"
        />

        <img 
          class="image" 
          src="img/works/img-works-01.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
    </div>
    
    <div class="works__project project-preview">
      <div class="project-preview__info">
        <h2 class="project-preview__title h3">AI Fashion Platform</h2>
        
        <p class="project-preview__category">User Centered Website Redesign</p>
        
        <p class="project-preview__year">2019</p>
        
        <div>
          <a class="button button_arrow" href="/case-study.html">View More &nbsp;<span class="material-symbols-outlined icon-arrow icon-arrow_right-button">trending_flat</span></a>
        </div>
      </div>
      
      <picture class="project-preview__image">
        <source 
          media="(max-width: 435px)" 
          srcset="img/works/img-works-02.webp"
          type="image/webp"
        />
        
        <source
          media="(min-width: 436px)"
          srcset="img/works/img-works-02@1-5x.png"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 436px)"
          srcset="img/works/img-works-02@1-5x.png"
        /> 

        <source
          media="(min-width: 900px)"
          srcset="img/works/img-works-02@2x.webp"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/works/img-works-02@2x.png"
        />

        <img 
          class="image"
          src="img/works/img-works-02.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
    </div>
    
    <div class="works__project project-preview">
      <div class="project-preview__info">
        <h2 class="project-preview__title h3">Redesigning DropBox</h2>
        
        <p class="project-preview__category">Product Design</p>
        
        <p class="project-preview__year">2018</p>
        
        <div>
          <a class="button button_arrow" href="#">View More &nbsp;<span class="material-symbols-outlined icon-arrow icon-arrow_right-button">trending_flat</span></a>
        </div>
      </div>
      
      <picture class="project-preview__image">
        <source 
          media="(max-width: 435px)" 
          srcset="img/works/img-works-03.webp"
          type="image/webp"
        />
        
        <source
          media="(min-width: 436px)"
          srcset="img/works/img-works-03@1-5x.png"
          type="image/webp"
        /> 
        
        <source
          media="(min-width: 436px)"
          srcset="img/works/img-works-03@1-5x.png"
        /> 

        <source
          media="(min-width: 900px)"
          srcset="img/works/img-works-03@2x.webp"
          type="image/webp"
        />

        <source
          media="(min-width: 900px)"
          srcset="img/works/img-works-03@2x.png"
        />

        <img 
          class="image"
          src="img/works/img-works-03.png"
          width="288"
          height="288"
          alt=""
        />
      </picture>
    </div>
  </section>
{% endblock %}