<footer class="footer">
  <div class="wrapper">
    <div class="footer__header">
      <h2 class="footer__title h2">Need a project?</h2>
      
      <a class="footer__contact link" href="#">(239) 555-0108</a>
      
      <a class="footer__contact link" href="#">tanya.hill@example.com</a>
    </div>
    
    <ul class="footer__social-links">
      <li class="footer__social-link"><a class="link" href="#">Facebook</a></li>
      <li class="footer__social-link"><a class="link" href="#">Instagram</a></li>
      <li class="footer__social-link"><a class="link" href="#">Dribble</a></li>
      <li class="footer__social-link"><a class="link" href="#">Linedin</a></li>
    </ul>
    
    <p class="footer__copyright">
      © Copyright Manifest Theme. <br>Allrights reserved
    </p>
  </div>
</footer>