<footer class="footer">
  <div class="wrapper d-flex">
    <div class="footer__header">
      <h2 class="h2"> Need a project?</h2>
      
      <a class="h6 link d-block mb-1" href="#">(239) 555-0108</a>
      
      <a class="h6 link d-block" href="#">tanya.hill@example.com</a>
    </div>
    
    <ul class="footer__social-links">
      <li><a class="h6 link d-block mb-1-5" href="#">Facebook</a></li>
      <li><a class="h6 link d-block mb-1-5" href="#">Instagram</a></li>
      <li><a class="h6 link d-block mb-1-5" href="#">Dribble</a></li>
      <li><a class="h6 link" href="#">Linedin</a></li>
    </ul>
    
    <p class="footer__copyright my-0 h9 link">
      © Copyright Manifest Theme. <br>Allrights reserved
    </p>
  </div>
</footer>