<header class="header">
  <img class="logo" src="img/logo.svg" alt="">

  <div class="header_right">
    {% include '_navigation.twig' %}

    <div class="button-group">
      <a class="button button-icon button-icon-search" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a class="button button-icon button-icon-menu" href="#"><i class="fa-solid fa-bars"></i></a>
    </div>
  </div>
</header>