.blockquote {
  padding-left: toRem(0.8);
  padding-bottom: $spacing-xs;
  border-left: 2px solid $color-grey-5;
  margin: 0 0 2rem;
  
  @media only screen and (min-width: $wrapper-tablet) {
    padding-left: $spacing-xl;
  }
}