.button {
  color: $background-primary;
  background-color: $color-grey-7;
  padding: $spacing-offset-y $spacing-button-x;
  
  &:hover, &:active {
    color: $background-primary;
    background-color: $color-grey-9;
  }
}

.button-group {
  display: flex;
  align-items: center;
}

.button_arrow {
  display: inline-flex;
  align-items: center;
}

.button_form {
  display: inline-flex;
  align-items: center;
}

.button_icon {
  padding: $spacing-button-icon;
  color: $color-primary;
  background: $background-primary;
}

.button_icon-menu {
  font-size: $font-size-h3;
}

@media only screen and (min-width: $navigation-visible) {
  .button_icon-menu {
    display: none;
  }
}