.button {
  color: $background-primary;
  background-color: $color-grey-7;
  padding: 0.7rem 2.13rem;
  &:hover, &:active {
    color: $background-primary;
    background-color: $color-grey-9;
  }
}

.button-group {
  display: flex;
  align-items: center;
}

.button-icon {
  padding: 0.5rem;
  color: $color-primary;
  background: $background-primary;
}

.button-icon-menu {
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .button-icon-menu {
    display: none;
  }
}

