//@import ;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 96% !important;
  max-width: 34rem;
}

select:active {
  border-color: transparent;
}

select:active, select:hover {
  outline-color: transparent;
}

select::-ms-expand { display: none; }

.dropdown {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-bottom: 3rem;
}

.dropdown_column-touch {
  @include flex-align-start-max-w(899px);
  max-width: 34rem;
}

.dropdown__toggler {
  display: flex;
  width: 100%;
  padding: 1.3rem 0;
  border-color: transparent transparent $color-primary transparent;
}