@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/red-hat-display-v12-latin-regular.woff2') format('woff2'),
       url('../../fonts/red-hat-display-v12-latin-regular.woff') format('woff'),
       url('../../fonts/red-hat-display-v12-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/lato-v23-latin-regular.woff2') format('woff2'),
       url('../../fonts/lato-v23-latin-regular.woff') format('woff'),
       url('../../fonts/lato-v23-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../../fonts/lato-v23-latin-700.woff2') format('woff2'),
       url('../../fonts/lato-v23-latin-700.woff') format('woff'),
       url('../../fonts/lato-v23-latin-700.ttf') format('truetype');
}