input[type="text"], 
input[type="email"], 
input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid;
  border-color: transparent transparent $color-primary transparent;
  padding: 0.7rem 0;
}

input[type="checkbox"] {
  max-height: 1.3rem;

}

input:active {
  border-color: transparent;
}

input:active, input:hover {
  outline-color: transparent;
}

.input_constrained {
  max-width: 34rem;
}