input[type="text"], 
input[type="email"], 
input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid;
  border-color: transparent transparent $color-primary transparent;
  padding: 0 0 $spacing-offset-y;
}

input:focus {
    outline: none;
}

input::placeholder {
  @include typography($text-h9...);
  color: $color-grey-5;
}

input:active {
  border-color: transparent;
}

input:active, input:hover {
  outline-color: transparent;
}
