ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.ul_dotted {
  list-style-type: disc;
  margin-left: 1rem;
}

.list-pagination {
  display: flex;
  
  .list-pagination__item {
    margin-right: 1.5rem;
  }
  
  .list-pagination__item_active {
    color: $color-grey-5;
  }
}

.social-links {
  .social-links__item {
    margin-right: 1.5rem;
  }
  
  .social-links__item:last-child {
    margin-right: 0;
  }
  
  a {
    color: $color-grey-5;
    
    &:hover, &:active {
      color: $color-primary;
    }
  }
}

.social-links_left {
  margin-bottom: 3.5rem;
  @include margin-bottom-min-w(1024px, 0);
  
  @media only screen and (min-width: 1024px){
    position: absolute;
    flex-direction: column;
    left: -7%;
    padding-top: 0.7rem;
    
    @media only screen and (min-width: 1100px) {
      left: -14%;
    }
    
    .social-links__item {
      margin-bottom: 1.2rem;
    }
  }
}

.social-links_black {
  a {
    color: $color-primary;
  }
}