<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Title{% endblock %}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://kit.fontawesome.com/10404ee22d.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href=".css">
</head>

<body>
  <div class="wrapper position-relative">
    {% include '../partials/_header.twig' %}

    {% block content %}
    {% endblock %}
  </div>
  
  {% include '../partials/_footer.twig' %}
</body>

</html>
