@import "_navbar.scss";
@import "../helpers/_variables.scss"; 
@import "../helpers/_mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-right: -0.5rem;
}

@media only screen and (min-width: 600px) {
  .header {
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 6rem 0;
  }
}

.header_right {
  display: flex;
  align-items: center;
}

.header_error {
  justify-content: center;
  margin-right: 0;
  padding-bottom: 6rem;
}