@mixin typography($family, $size, $weight, $height, $spacing: $letterspacing-primary, $color: $color-primary) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  color: $color;
}

@mixin spacing($side, $touch, $desktop) {
  margin : {
    #{$side}: $touch;
  }
  
  @media only screen and (min-width: 900px) {
    margin : {
      #{$side}: $desktop;
    }
  }
}