.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-column_reverse {
  flex-direction: column-reverse;
}

.flex-column_touch {
  @include flex-row-min-w(900px);
}

.flex-column_mobile {
  @include flex-row-min-w(700px);
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-align-items-baseline {
  align-items: baseline;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-self-start {
  align-self: flex-start;
}

.d-flex_r {
  @include flex-row-min-w(400px);
}

.d-none-touch {
  @include display-optional-min-w(900px, none);
}

.position-relative {
  position: relative;
}

.line-height-05 {
  line-height: 0.5;
}

.is-selected {
  margin: auto;
  padding-bottom: 0.25rem;
  background:linear-gradient($color-primary,$color-primary) bottom no-repeat;
  background-size:50% 1px;
}

.color-primary {
  color: $color-primary;
}

.color-background-primary {
  color: $background-primary;
}

.color-grey-5 {
  color: $color-grey-5;
}

.color-grey-7 {
  color: $color-grey-7;
}

.text-center {
  text-align: center;
}

.w-13-5 {
  width: 13.5rem;
}

.mv-28 {
  max-width: 28rem;
}

.mv-30 {
  max-width: 30rem;
}

.mv-34 {
  max-width: 34rem;
}

.mw-100 {
  width: auto;
  max-width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.mw-40-touch {
  @include text-max-mw(900px, 40rem);
}

.mx-auto {
  margin: 0 auto;
}

.mx-auto-touch {
  margin: 0 auto;
  @include margin-x-min-w(900px, 0);
}

.ml-1 {
  margin-left: 1rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1-5 {
  margin-right: 1.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-1-5-tablet-only {
  margin-bottom: 1.5rem;
  @include margin-bottom-min-w(900px, 0);
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-section-primary {
  margin-bottom: 4rem;
  @include margin-bottom-min-w(900px, 8rem);
}

.mb-section-secondary {
  margin-bottom: 6rem;
}

.mb-block-primary {
  margin-bottom: 3rem;
  @include margin-bottom-min-w(900px, 0);
}

.mb-block-primary_static {
  margin-bottom: 3rem;
}

.mb-block-secondary {
  margin-bottom: 3.5rem;
  @include margin-bottom-min-w(900px, 4.8rem);
}

.mb-block-tertiary {
  margin-bottom: 2.5rem;
  @include margin-bottom-min-w(900px, 3rem);
}

.mb-block-tablet-only {
  margin-bottom: 3.5rem;
  @include margin-bottom-min-w(900px, 0);
}

.mb-block-desktop-only {
  margin-bottom: 0;
  @include margin-bottom-min-w(900px, 8rem);
}

.w-half-desktop {
  @include w-optional-min-w(900px, 50%);
}

.w-47-desktop {
  @include w-optional-min-w(900px, 47%);
}

.w-48-desktop {
  @include w-optional-min-w(900px, 48.5%);
}

.w-48-tablet {
  @include w-optional-min-w(700px, 48.5%);
}

.w-50-desktop {
  @include w-optional-min-w(900px, 49.5%);
}

.mr-no-lc-1 { /* margin right except last child */
  @include margin-right-no-last-child(1.5rem);
}

.mx-1-desktop {
  @include margin-x-min-w(900px, 1rem);
}

.mx-n1-desktop {
  @include margin-x-min-w(900px, -1rem);
}

.mr-2-desktop {
  @include margin-right-min-w(900px, 2rem);
}

.pr-3-desktop {
  @include padding-right-min-w(900px, 3rem);
}

.pl-12-desktop {
  @include padding-left-min-w(900px, 12rem);
}