.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.is-selected {
  margin: auto;
  padding-bottom: 0.25rem;
  background:linear-gradient($color-primary,$color-primary) bottom no-repeat;
  background-size:50% 1px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}