/**
 * Colors
 */
$color-primary: #000000;
$background-primary: #FFFFFF;
$color-error: #E10000;

$color-grey-1: #F4F4F4;
$color-grey-3: #CCCCCC;
$color-grey-5: #7B7B7B;
$color-grey-7: #565656;
$color-grey-9: #323232;

/**
 * Letter-spacing
 */
$letterspacing-primary: 0.1em;
$letterspacing-secondary: 0.05em;
$letterspacing-wider: 0.3em;
$letterspacing-default: 0;
